<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
    <mapper namespace="com.spring.mapper.AlarmMapper"> <!-- 맵퍼적기 -->
		<select id="selectAlarmById" resultType="com.spring.domain.AlarmVO">
			    SELECT alarm_no, msg, b_no, is_open, p.profile_img FROM alarm a
				    join profile p on p.user_id = a.user_id
				    where a.user_id = #{user_id}
				    ORDER BY alarm_no DESC
	    <!-- SELECT alarm_no, msg, p.profile_img FROM alarm a
			    join profile p on p.user_id = a.user_id
			    where a.user_id = 'user01'
			    ORDER BY alarm_no DESC
			    FETCH FIRST 10 ROWS ONLY; -->
		</select>
		
		<select id="selectIsOpenCount" resultType="int">
			SELECT count(is_open) FROM alarm a
			where user_id = #{user_id} and is_open = 0
		</select>
		
		<update id="updateAlarm">
			UPDATE alarm SET is_open=1 WHERE alarm_no = #{alarm_no}
		</update>
		
		<insert id="insertAlarm">
			INSERT INTO alarm (alarm_no, user_id, b_no, msg)
			VALUES (seq_alarm_no.nextval, #{user_id}, #{b_no}, #{msg})
		</insert>
		
		<delete id="deleteAlarmById">
			DELETE FROM alarm WHERE user_id = #{ user_id }
		</delete>
	</mapper>