<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.mapper.BoardHashMapper">
	<insert id="insertBoardHash">
		INSERT INTO board_hash
		(b_h_no, b_no, hash_id) VALUES
		(seq_b_h_no.nextval,#{b_no} , #{hash_id})
	</insert>	
	<insert id="insertDefaultHash">
		insert into board_hash values(seq_b_h_no.nextval,#{b_no} , 0)
	</insert>
	<select id="selectBoardHashByBNo" resultType="com.spring.domain.BoardHashVO">
	SELECT b.b_no
			, t.title
			, t.contents
			, LISTAGG(h.hash_tag, ', ') 
			WITHIN GROUP (ORDER BY h.hash_tag) 
			AS hash_tags
			, t.user_id
			, t.views
            FROM board_hash b
            JOIN trav_board t ON b.b_no = t.trav_b_no
            JOIN hash h ON b.hash_id = h.hash_id
            WHERE b.b_no =#{b.b_no}
            GROUP BY b.b_no, t.title, t.contents, t.user_id, t.views
	</select>
	<update id="updateBoardHash">
		update board_hash set hash_id=#{hash_id} where b_h_no=#{b_h_no}
	</update>
	<delete id="deleteBoardHash">
	delete from board_hash where b_h_no =#{b_h_no}
	</delete>
	
	<delete id="deleteUHCById">
		DELETE FROM user_hash_count WHERE user_id = #{ user_id }
	</delete>
	<delete id="deleteBHById">
		DELETE FROM board_hash WHERE b_no IN (SELECT b_no FROM board WHERE user_id = #{ user_id } )
	</delete>
	<delete id="deleteUHById">
		DELETE FROM user_hash WHERE user_id = #{ user_id }
	</delete>
</mapper>