<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.spring.mapper.EmojiMapper">
  	<insert id="insertEmoji">
  		 INSERT INTO emoji(b_no, comment_id) VALUES( #{b_no}, #{user_id} )
  	</insert>
  	<update id="updateEmoji">
  		UPDATE emoji SET emoji_record = #{emoji_record} WHERE b_no = #{b_no} AND comment_id = #{user_id}
  	</update>
  </mapper>