<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.mapper.HashMapper">
	<select id="selectHashList"
		resultType="com.spring.domain.HashVO">
  <![CDATA[
SELECT CONCAT('#', hash_tag) AS hash_tag FROM hash
  ]]>
	</select>
	<select id="selectHash" resultType="com.spring.domain.HashVO">
		select hash_id, hash_tag from hash where hash_id= #{hash_id}
	</select>
	<insert id="insertHash">
		insert into hash (hash_id ,hash_tag) values (seq_hash_id.nextval,
		#{hash_tag})
	</insert>
	<update id="updateHashTag">
		UPDATE hash
		SET hash_tag = #{hash_tag}
		WHERE hash_id = 0
	</update>
	<delete id="deleteHash">
		delete from hash where hash_id=#{hash_id}
	</delete>
</mapper>