<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
    <mapper namespace="com.spring.mapper.StarBoardMapper">
		<select id="selectStarBoards" resultType="com.spring.domain.StarBoardVO">
			select * from star_board
		</select>
		
		<insert id="insertStarBoard">
			<![CDATA[
		    INSERT INTO star_board (b_no, title, user_id) 
				SELECT tb.trav_b_no, b.title, b.user_id 
				FROM board b
				JOIN trav_board tb ON tb.trav_b_no = b.b_no
				WHERE b.is_hidden = 0
				ORDER BY tb.views DESC
		    FETCH FIRST 10 ROWS ONLY
    		]]>
		</insert>
		
		<delete id="deleteAllBoard">
			delete from star_board
		</delete>
		<delete id="deleteStarBoardById">
			DELETE FROM star_board WHERE user_id = #{ user_id }
		</delete>
	</mapper>