<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.mapper.TravBoardMapper">
	<insert id="insertTravBoard">
	<![CDATA[
		insert into trav_board
		(trav_b_no, title,contents,user_id) 
		values
		(seq_total_b_no.nextval ,#{title} ,#{contents} ,#{user_id})
	]]>
	</insert>
	<select id="selectTravBoardList" resultType="com.spring.domain.TravBoardVO">
		select trav_b_no
		, title
		, user_id
		, views
		from trav_board
		where is_hidden=0
		order by trav_b_no desc
	</select>
	<select id="selectBoard" resultType="com.spring.domain.TravBoardVO">
		SELECT b.b_no
		, t.title
		, t.contents
		, LISTAGG(h.hash_tag, ', ')
		WITHIN GROUP (ORDER BY
		h.hash_tag)
		AS hash_tags
		, t.user_id
		, t.views
		FROM board_hash b
		JOIN trav_board t ON b.b_no = t.trav_b_no
		JOIN hash h ON b.hash_id =h.hash_id
		WHERE b.b_no = #{b.b_no}
		AND is_hidden = 0
		GROUP BY b.b_no,t.title, t.contents, t.user_id, t.views
	</select>
	<update id="updateTravBoard">
		update trav_board set title=#{title},contents=#{contents}
		where trav_b_no =#{trav_b_no}
	</update>
	<update id="updateTravBoardByIsHidden">
		update trav_board set is_hidden=1 
		where trav_b_no=#{trav_b_no}
	</update>
	<update id="updateTravBoardToPublic">
		update trav_board set is_hidden=0 where trav_b_no=#{trav_b_no}
	</update>
	<update id="updateTravBoardPlusView">
		update trav_board set views= views+1 
		where trav_b_no=#{trav_b_no}
	</update>
	<delete id="deleteTravBoard">
		delete from trav_board where trav_b_no=#{trav_b_no}
	</delete>
	<!-- 프로필 -->
	<select id="selectAllBoard"
		resultType="com.spring.domain.TravBoardVO">
		select trav_b_no,title, contents, user_id,views
		from trav_board where user_id =#{user_id} order by trav_b_no desc 
	</select>
</mapper>