<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.mapper.TravBoardMapper">
	<select id="selectTravBoardList"
		resultType="com.spring.domain.TravBoardVO">
		SELECT b.b_no
		, b.title
		, b.user_id
		, b.reg_date
		, t.views
		FROM board b
		INNER JOIN trav_board t ON b.b_no = t.trav_b_no
		WHERE b.user_id IN (
		SELECT user_id
		FROM follow
		WHERE follower_id = 'user01'
		)
		OR b.user_id IN (
		SELECT id
		FROM users
		WHERE grade_level = 6
		)
		OR b.user_id = 'user01'
		ORDER BY b.b_no DESC
	</select>
	<select id="selectOneBoard"
		resultType="com.spring.domain.TravBoardVO">
		SELECT
		b.b_no
		, b.title
		, b.contents
		, b.user_id,
		(SELECT
		COUNT(*) FROM emoji e
		WHERE
		e.b_no = b.b_no AND e.emoji_record>0)
		total_emoji
		,b.reg_date
		,t.views
		FROM board b
		INNER JOIN trav_board t
		ON
		b.b_no = t.trav_b_no
		WHERE b.b_no
		=#{b.b_no}
	</select>
	<update id="updateTravBoardPlusView">
		update trav_board
		set views= views+1
		where
		trav_b_no=#{trav_b_no}
	</update>
	<delete id="deleteTravBoard">
	delete from trav_board where trav_b_no=#{b_no}
	</delete>
	<!-- 프로필 -->
	<select id="selectAllBoard"
		resultType="com.spring.domain.TravBoardVO">
		SELECT
		b.b_no
		, b.title
		, b.contents
		, b.user_id,
		(SELECT
		COUNT(*) FROM emoji e
		WHERE
		e.b_no = b.b_no
		AND e.emoji_record>0)
		total_emoji
		,b.reg_date
		,t.views
		FROM board b
		INNER
		JOIN trav_board t
		ON
		b.b_no = t.trav_b_no
		WHERE b.user_id=#{b.user_id}
		order by b.b_no desc
	</select>
</mapper>