<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
    <mapper namespace="com.spring.mapper.UsersMapper">
    	<select id="selectAccount" resultType="com.spring.domain.UsersVO">
    		select * from users where id = #{id} and pw = #{pw}
    	</select>
    	
    	<insert id="insertAccount">
    		insert into users (id, pw, name, birthday, phone_number, location_id)
    		values(#{id}, #{pw}, #{name}, #{birthday}, #{phone_number}, #{location_id})
    	</insert>
    	
    	<select id="selectByIdCount" resultType="int">
    		select count(*) from users where id = #{id}
    	</select>
    	    	
    	<select id="selectAccountById" resultType="com.spring.domain.UsersVO">
    		select * from users where id = #{id}
    	</select>
    	
    	<select id="selectGradeById" resultType="com.spring.domain.GradeVO">
    		SELECT id, CASE
	                WHEN g.grade_level = 0 THEN 'ROLE_BLACK'
	                WHEN g.grade_level = 1 THEN 'ROLE_USER_PRIVATE'
	                WHEN g.grade_level = 2 THEN 'ROLE_USER_FOLLOWER'
	                WHEN g.grade_level = 3 THEN 'ROLE_USER_PUBLIC'
	                WHEN g.grade_level = 4 THEN 'ROLE_CELEB_PRIVATE'
	                WHEN g.grade_level = 5 THEN 'ROLE_CELEB_FOLLOWER'
	                WHEN g.grade_level = 6 THEN 'ROLE_CELEB_PUBLIC'
	                ELSE 'ROLE_ADMIN'
	                END AS authority
	                FROM grade g
	                JOIN users ON users.id = #{id}
	                WHERE users.grade_level = g.grade_level
    	</select>
    	
    	<select id="selectAllUsers" resultType="com.spring.domain.UsersVO">
    		SELECT * FROM 
			    (SELECT u.id, u.name, g.grade_name, u.phone_number, ROW_NUMBER() 
			        OVER (ORDER BY u.grade_level DESC) rn
			        FROM users u
			        JOIN grade g ON u.grade_level = g.grade_level
			    WHERE grade_name != '관리자')
			WHERE rn BETWEEN #{offset} + 1 AND #{offset} + #{limit}
    	</select>
    	<select id="selectCountUser" resultType="int">
    		SELECT COUNT(*) FROM users
			    WHERE grade_level != 7
    	</select>
    	<delete id="deleteUsersAccount">
    		DELETE FROM users WHERE id = #{id}
    	</delete>
    	<update id="updateUsersGradeZero">
    		UPDATE users SET grade_level = 0 WHERE id = #{id}
    	</update>
    	<update id="changeUserGrade">
    		UPDATE users SET grade_level = #{grade_level} WHERE id = #{id}
    	</update>
    </mapper>